services:
  ties:
    image: ghcr.io/raffomania/ties
    depends_on:
      db:
        condition: service_healthy
    environment:
      - LISTEN=0.0.0.0:3000
      - DATABASE_URL=postgres://ties:ties@db/ties
      - RUST_LOG=info
      # Careful: This will form the domain part of user handles, such as "rafael@ties.pub",
      # and cannot be changed once set!
      - BASE_URL=
      - ADMIN_USERNAME=
      - ADMIN_PASSWORD=
    ports:
      - "3000:3000"

  db:
    image: docker.io/library/postgres:18
    environment:
      - POSTGRES_DB=ties
      - POSTGRES_USER=ties
      - POSTGRES_PASSWORD=ties
    volumes:
      - db:/var/lib/postgresql
    command: |
      -c shared_buffers=16MB
      -c work_mem=1MB
      -c max_connections=10
      -c maintenance_work_mem=4MB
      -c effective_cache_size=32MB

volumes:
  db:
